/blib/
*.bs
_build/
/.build/
Build
!Build/
Build.bat
cover_db/
/_eumm/
inc/
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.json
/META.yml
/MYMETA.*
nytprof.out
*.o
/pm_to_blib
Taskwarrior-*
task.commands
test.commands
